AlamofireMocks.xcodeproj/project.xcworkspace/xcuserdata
AlamofireMocks.xcodeproj/xcuserdata
Frameworks
AlamofireMocks.xcworkspace/xcuserdata
Example/AlamofireMocksExample.xcodeproj/project.xcworkspace/xcuserdata
Example/AlamofireMocksExample.xcodeproj/xcuserdata
Pods
.ruby-version
